html, body {
    margin: 0;
    padding: 0;
    border-sizing:border-box;
}
nav {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 15px 0; 
    position: fixed;
    width: 100%;       
    top: 0;
    left: 0;           
    z-index: 100;
}
nav a {
    position: relative;
    text-decoration: none;
    color: #4a80b9;     
    padding: 5px;
    transition: color 0.3s ease;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #ffffff; 
    transition: width 0.3s ease;
}

nav a:hover {
    color: #b8e3ff;
}

nav a:hover::after {
    width: 100%;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.hero {
    margin: 0;       
    padding: 0;      
    position: relative;
    margin-top:50px;
}

.hero img {
    width: 100%;      
    height: 500px;  
    object-fit: cover; 
    display: block;    
}
.hero-text {
    position: absolute;      
    top: 50%;                 
    left: 10%;                
    transform: translateY(-50%); 
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    color:WHITE;           
    font-size:2.5rem;           
    font-weight: bold;
    text-transform: uppercase; 
    text-shadow: 0px 0px 10px black, 0 0 20px black;
    gap:3px;
    z-index: 10;
}
.hero-text h1{
    margin:0 0 1px 0;
    line-height:0.9;
}
.hero-text h2{
    margin:0;
    line-height:0.9;

}
.info-section {
    display: flex;
    width: 100%;
    padding: 40px 0;
    background-color: #ffffff;
}

.mapa, .tekst {
    width: 50%;
    padding: 20px;
}

.mapa img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}
.tekst h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 15px;
}
.tekst p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}
.dolazak-section {
    background-color:#c7bbbb;
    padding:30px;
    border-radius:6px;
    box-shadow:0 0px 8px rgba(0,0,0,0.1);
    border:1px solid #e0e0e0;
    margin:0
    width:100%;
    box-sizing:border-box;
    display:flex;
    align-items:flex-start;
    gap:40px;
    flex-wrap:wrap;
}
.dolazakk-section > :first-child{
    flex:3;
    min-width:300px;
}
.dolazak-section .hero-image{
    flex:2;
    min-widht:220px;
    object-position:0% 40%;
    text-align:center;
}
.dolazak-section .hero-image img{
    width:100%;
    max-width:400px;
    height:250px;
    object-fit:cover;
    max-height:300px;
    border-radius:10px;
    border:3px solid #4190ea;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.dolazak-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.dolazak-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #444;
}

.dolazak-section ul {
    list-style-type: disc;
    padding-left: 25px;
}

.dolazak-section ul li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
}
.kako-doci {
    width: 80%;
    margin: 40px auto;
    background:#c7bbbb ;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    text-align: center;
}

.prevoz {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.prevoz-item {
    flex: 1;
    max-width: 50%;
    background: #eee;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    text-align: center;
    box-sizing:border-box;
}

.stiker {
    font-size: 50px;      
    margin-bottom: 15px;
}

.prevoz-item h3 {
    margin: 10px 0 15px 0;
    color: #333;
}
.saveti {
    text-align: center;
    padding: 40px;
    background-color: #b8e3ff;
    background-position: center;     
}
.saveti h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #333;
}
.saveti-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}
.kartica {
    width: 220px;
    padding: 18px;
    border-radius: 15px;
    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background: rgba(255, 255, 255, 0.65);
}
.kartica:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}
.kartica img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-bottom: 15px;
}
.kartica h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #222;
}
.kartica p {
    font-size: 15px;
    color: #555;
}
.footer {
    background-color:rgba(0, 0, 0, 0.7);
    color: #e6e6e6;
    padding: 40px 0 20px 0;
    margin: top 0;;
    font-family: Arial, sans-serif;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer-section h3,
.footer-section h4 {
    margin-bottom: 12px;
    color: white;
}

.footer-section p,
.footer-section a,
.footer-section li {
    font-size: 15px;
    line-height: 1.6;
    color: #d8d8d8;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section a {
    text-decoration: none;
    color: #d8d8d8;
}

.footer-section a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    border-top: 1px solid #333;
    color: #bfbfbf;
}
.vodic {
    min-height: 100vh;        
    display: flex;
    justify-content: center;  
    align-items: center;      
    padding: 0;
    background-color:#c7bbbb;
    background-repeat:no-repeat;
    background-size: cover;
}
.vodic-container {
    width: 80%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    gap: 40px;
    background: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    background-color:#b8e3ff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5),
                0 0 40px rgba(255, 255, 255, 0.3),
                0 0 60px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
}
.vodic-slika img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #d0e8ff; 
}
.vodic-tekst h2 {
    font-size: 28px;
    margin-bottom: 10px;
}
.vodic-tekst p {
    font-size: 17px;
    line-height: 1.6;
}
.galerija {
    background-color:#c7bbbb; 
    width: 100%;
    padding: 40px 0 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.galerija-item p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.galerija-item img {
    width: 90%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
    margin-left:20px;
    border:2px solid #222;
}
.galerija-item img:hover {
    transform: scale(1.03);
}
.hrana {
  background-color: #c7bbbb;
  padding: 80px 0;
  text-align: center;
}
.hrana h2 {
  margin-bottom: 50px;
  font-size: 32px;
  text-decoration:underline;
}
.hrana-grid {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.hrana-kartica {
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: transform 0.3s, box-shadow 0.3s;
}
.hrana-kartica:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}
.hrana-kartica img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.hrana-kartica h3 {
  margin: 15px 0 10px;
}
.restorani {
    background-color:#c7bbbb; 
    padding: 60px 0;
}
.restorani h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
}
.restorani-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;         
    justify-content: space-between;
    gap: 30px;
}
.restoran {
    width: 48%;               
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 12px;
    text-align: center;
}
.restoran img {
    width: 100%;
    height: 220px;
    object-fit: cover;        
    border-radius: 10px;
    margin-bottom: 15px;
}
.restoran h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

.restoran p {
    font-size: 16px;
    color: #555;
}
.atrakcije {
  padding: 80px 10%;
  background-color:#c7bbbb ;
}

.atrakcije h2 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 32px;
  text-decoration:underline;
}

.atrakcija {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 60px;
}

.atrakcija img {
  width: 45%;
  border-radius: 15px;
}

.atrakcija-tekst {
  width: 55%;
}

.atrakcija-tekst h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.atrakcija-tekst p {
  font-size: 16px;
  line-height: 1.6;
}
.atrakcija.reverse {
  flex-direction: row-reverse;
}